$screen-xs-max: 320px;
$screen-ss-max: 414px;
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
@mixin w320 {
   @media (max-width: #{$screen-xs-max}) {
      @content;
   }
}
@mixin w414 {
   @media (max-width: #{$screen-ss-max}) {
      @content;
   }
}

@mixin w576 {
   @media (max-width: #{$screen-sm-max}) {
      @content;
   }
}

@mixin w768 {
   @media (max-width: #{$screen-md-max}) {
      @content;
   }
}

@mixin w992 {
   @media (max-width: #{$screen-lg-max}) {
      @content;
   }
}

@mixin w1200 {
   @media (max-width: #{$screen-xl-max}) {
      @content;
   }
}
// Header
.dropdown-item {
  i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #c8ced3;
    text-align: center;
  }
}

// 위치검색
.map-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.map-controls {
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  width: 400px;
  height: 37px;
  margin-top: 10px;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

/*옵션선택폼*/
.option-wrap{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.option-select{
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
  border: 1px solid #ededed;
  border-radius:5px;
  cursor: pointer;
}
.option-select {
  .option-ico {
    display: block;
    float: right;
    width: 30px;
    height: 35px;
    background: #f0f3f5;
    text-align: center;
    box-sizing: border-box;
  }
}
.option-select {
  .option-ico {
    img {
      width: 15px;
      vertical-align: middle;
    }
  }
}
.option-list-wrap-banks{
  display: none;
  position: absolute;
  z-index: 400;
  top: 35px;
  left: 0;
  width: 150px;
  height: auto;
  padding-bottom: 10px;
  background: #fff;
  border: 1px solid #f0f3f5;

}
.visible{
  display: block;
}
.option-list-wrap-banks {
  .option-list-box {
    float: left;
    padding: 10px 10px 0;
    box-sizing:border-box;
  }
}
.option-list-wrap-banks {
  .option-list-box {
    .option-title{
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
.option-list-wrap-banks {
  .option-list-box {
    .option-list {
      padding: 0;
      margin-bottom: 0;
    }
  }
}
.option-list-wrap-banks {
  .option-list-box {
    .option-list {
      li {
        list-style: none;
        margin-bottom: 5px;
      }
    }
  }
}
.option-list-wrap-banks {
  .option-list-box {
    .option-list {
      li {
        input{
          margin-right: 5px;
        }
      }
    }
  }
}
.option-list-wrap-banks {
  .btn-close-wrap {
    padding-right: 10px;
  }
}
.option-list-wrap-banks {
  .btn-close-wrap {
    input{
      float: right;
      height: 30px;
      border: 1px solid #f0f3f5;
      border-radius: 3px;
    }
  }
}

//네이버월간조회수
.wrap-table {
  display:block;
  overflow: auto;
  border:1px solid #dee2e6;
}
.trend-table {
  tbody {
    tr {
      td {
        &:first-child{
         min-width:50px;
        }
      }
    }
   }
}
.table  {
  min-width: 100%;
}

//차트
.chart-area {
  display: inline-block;
  width: 780px;
  height: 400px;
  text-align: center;
  h2 {
    font-size:12px;
    font-weight: 800
  }
}

//로딩
.wrap-spinner {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-filter {
  overflow: hidden;
  max-width: 720px;
  @include w1200 {
    width: 70%;
    padding-bottom: 40px;
  }
  @include w576 {
    width: 100%
  }

  .search-area {
    float: left;
    @include w1200 {
      width: 100%;
    }

    dl {
      display: table;
      height: 40px;
      margin-bottom: 0;
      table-layout: fixed;
      @include w1200 {
        width: 100%;
      }

      dt {
        display: table-cell;
        width: 80px;
        vertical-align: middle;
        @include w1200 {
          &.text-center {
            text-align: left !important;
          }
        }
      }

      dd {
        display: table-cell;
        vertical-align: middle;
        @include w576 {
          button {
            width: calc(100% - 23px) !important;
          }
        }
        @include w1200 {
          input[type="number"] {
            width: calc(50% - 35px) !important;
          }
          select {
            width: calc(100% - 23px) !important;
          }
          input[type="text"] {
            width: calc(100% - 23px) !important;
          }
        }
      }
    }
  }
}
//뱅크
.last-tr {
  td {
    border-top-width:2px;
    background-color:#e4e7ea;
    color:#5c6873;
    font-weight:700;
  }
}

.wrap-block {
  display:inline-block;
  vertical-align:middle;
}
.block {
  display:block;
  line-height:1.2;
}
.tri-ico {
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}
.card-header {
  .float-left {
    .fa {
      margin-right:5px;
    }
  }
}